/* Buttons */
:root {
    --primary-button-color: #44adf0;
    --primary-button-color__hover: #26a1ed;
    --primary-button-color__active: #0b5b8e;
}


/* Button--Primary */
.a-button {
    display: inline-flex;
    padding: 0;
    border: none;
    cursor: pointer;
    height: 3rem;
}

.a-button__label {
    margin: auto;
    padding: 1rem 1rem;
}

.a-button.-primary {
    background-color: var(--primary-button-color);
    color: white;
}

.a-button.-primary:hover {
    background-color: var(--primary-button-color__hover);
}

.a-button.-primary:active {
    background-color: var(--primary-button-color__active);
}


/* Button--Secondary */
.a-button.-secondary {
    background-color: transparent;
    color: var(--primary-button-color);
    border: var(--primary-button-color) solid 2px;
}

.a-button.-secondary:hover {
    background-color: rgba(38, 161, 237, 0.1);
}

.a-button.-secondary:active {
    background-color: rgba(38, 161, 237, 0.5);
    color: var(--primary-button-color__active);
    border: var(--primary-button-color__active) solid 2px;
}


/* Button--Tertiary */
.a-button--tertiary {
    background-color: transparent;
    color: var(--primary-button-color);
}

.a-button--tertiary:hover {
    background-color: var(--primary-button-color__hover);
}

.a-button--tertiary:active {
    background-color: var(--primary-button-color__active);
    color: white;
}