/* Buttons */
:root {
    --primary-button-color: #19686A;
    --primary-button-color__hover: #A8EFF0;
    --primary-button-color__active: #002021;
}


/* Button--Primary */
.a-button {
    display: inline-flex;
    padding: 0;
    border: none;
    cursor: pointer;
}

.a-button__label {
    margin: auto;
    padding: 1rem 1rem;
}

.a-button--primary {
    background-color: var(--primary-button-color);
    color: white;
}

.a-button--primary:hover {
    background-color: var(--primary-button-color__hover);
}

.a-button--primary:active {
    background-color: var(--primary-button-color__active);
}


/* Button--Secondary */
.a-button--secondary {
    background-color: transparent;
    color: var(--primary-button-color);
    border: var(--primary-button-color) solid 2px;
}

.a-button--secondary:hover {
    background-color: var(--primary-button-color__hover);
}

.a-button--secondary:active {
    background-color: var(--primary-button-color__active);
    color: white;
    border: var(--primary-button-color__active) solid 2px;
}


/* Button--Tertiary */
.a-button--tertiary {
    background-color: transparent;
    color: var(--primary-button-color);
}

.a-button--tertiary:hover {
    background-color: var(--primary-button-color__hover);
}

.a-button--tertiary:active {
    background-color: var(--primary-button-color__active);
    color: white;
}