.a-chip {
    font-size: 0.75rem;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 5rem;
    background-color: #eaeaea;
    margin: 0 0.125rem;
}

ul.list-for__a-chip {
    display: flex;
    flex-wrap: wrap;
}