body {
    display: grid;
    grid-template-columns: minmax(3rem, auto) 1fr;
    grid-template-areas: 
        "nav header"
        "nav content"
        "nav footer";
    margin: 0;
    padding: 0;    
}

.-grid__side-nav {
    grid-area: nav;
}

.-grid__header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}