/*https://color.adobe.com/create/color-wheel*/
/*https://colordesigner.io/gradient-generator*/
:root {
    --green-10: #4dfa80;
    --green-20: #3fde6e;
    --green-30: #39d366;
    --green-40: #33c85f;
    --green-50: #30c25c;
    --green-60: #2dbd58;
    --green-70: #2ab855;
    --green-80: #27b251;
    --green-90: #24ad4e;

    --blue-10: #5cb9f2;
    --blue-20: #50b3f1;
    --blue-30: #44adf0;
    --blue-40: #36a7ee;
    --blue-50: #26a1ed;

    --orange-40: #F2AB49;
    --orange-50: #ED9A26;

    --red-50: #AD1413;
    --red-40: #FA3737;
    --red-30: #FA4F4D;

    --grey-10: #ffffff;
    --grey-20: #eaeaea;
    --grey-30: #d6d6d6;
    --grey-40: #c2c2c2;
    --grey-50: #afafaf;
    --grey-60: #9c9c9c;
    --grey-70: #777777;
    --grey-80: #545454;
    --grey-90: #333333;
}

body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: minmax(3rem, auto) 1fr;
    grid-template-rows: 4.25rem 1fr minmax(2rem,auto);
    grid-template-areas: 
        "nav header"
        "nav content"
        "nav footer";
    margin: 0;
    padding: 0;
    height: 100vh;
}

.-grid__side-nav {
    grid-area: nav;
}

.-grid__header {
    grid-area: header;
}

.-grid__content.twelve-col {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
    padding: 0 2rem;
    overflow: hidden;
}

.content-section__main {
    overflow-y: auto;
    grid-column: 1 / 11;
}

.content-section__action {
    grid-column: 11 / 13;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.-grid__footer {
    grid-area: footer;
    border-top: 1px solid #8a9097;
    margin-top: 1rem;
}