:root {
    --green-50: #24AD4E;
    --green-40: #69FF96;
    --green-30: #4DFA80;

    --red-50: #AD1413;
    --red-40: #FA3737;
    --red-30: #FA4F4D;
}

body {
    display: grid;
    grid-template-columns: minmax(3rem, auto) 1fr;
    grid-template-areas: 
        "nav header"
        "nav content"
        "nav footer";
    margin: 0;
    padding: 0;    
}

.-grid__side-nav {
    grid-area: nav;
}

.-grid__header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}