@import "../main.css";


/* Button--Primary */
.a-button {
    display: inline-flex;
    padding: 0;
    border: none;
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
}

.a-button__label {
    margin: auto;
    padding: auto;
}

.a-button.-primary {
    background-color: var(--green-90);
    color: white;
}

.a-button.-primary:hover {
    background-color: var(--primary-button-color__hover);
}

.a-button.-primary:active {
    background-color: var(--primary-button-color__active);
}


/* Button--Secondary */
.a-button.-secondary {
    background-color: transparent;
    color: var(--primary-button-color);
    border: var(--primary-button-color) solid 2px;
}

.a-button.-secondary:hover {
    background-color: rgba(38, 161, 237, 0.1);
}

.a-button.-secondary:active {
    background-color: rgba(38, 161, 237, 0.5);
    color: var(--primary-button-color__active);
    border: var(--primary-button-color__active) solid 2px;
}


/* Button--Tertiary */
.a-button.-tertiary {
    background-color: transparent;
    color: var(--primary-button-color);
}

.a-button.-tertiary:hover {
    color: var(--primary-button-color__hover);
}

.a-button.-tertiary:active {
    color: var(--primary-button-color__active);
    
}

.a-button.-withIcon {
    font-size: 0.875rem;
    height: fit-content;
    color: #333333;
    padding: 0.75rem;
}

.a-button.-withIcon:hover {
    height: fit-content;
    color: #26a1ed;
    border-radius: 1.5rem;
    background-color: rgba(38, 161, 237, 0.1);
}

.a-button.-withIcon:active {
    height: fit-content;
    color: #0b5b8e;
    border-radius: 1.5rem;
    background-color: rgba(38, 161, 237, 0.5);
}