.o-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid #8a9097;
}

.o-header__title {
    flex: 1;
    font-size: 0.75rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
}

.o-header section {
    margin-right: 2rem;
}