td, th {
    padding: 0.75rem 1rem;
    text-align: left;
}

th {
    color: #777777;
    background-color: #f9f9f9;
}

.m-table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

.m-table thead {
    height: 3rem;
    border-bottom: 2px solid #d6d6d6;
    position: sticky;
    /*required for stickiness*/
    top: 0;
    background-color: #fff;
}

.m-table tbody {
    border-bottom: 2px solid #d6d6d6;
}

.m-table tr {
    border-bottom: 1px solid #d6d6d6;
}

.m-table tbody tr:hover {
    cursor: pointer;
    background-color: rgba(38, 161, 237, 0.1);
}

.-selected-table {
    background-color: rgba(38, 161, 237, 0.5);
}



.m-table thead tr > th:nth-child(1):hover {
    color: #26a1ed;
    cursor: pointer;
}

.m-table thead tr > th:nth-child(1) > div {
    display: flex;
    align-items: center;
}

.m-table thead tr > th:nth-child(1) > div > p {
    margin-right: 0.25rem;
}

.m-table thead tr > th:nth-child(1).-sorted__AtoZ > div > i:nth-of-type(2) {
    display: none;
}

.m-table thead tr > th:nth-child(1).-sorted__ZtoA > div > i:nth-of-type(1) {
    display: none;
}

.m-table thead tr > th:nth-child(1).-sorted__AtoZ {
    color: #26a1ed;
    cursor: pointer;
}

.m-table thead tr > th:nth-child(1).-sorted__ZtoA {
    color: #26a1ed;
    cursor: pointer;
}